language: go
sudo: required
env:
  - GO15VENDOREXPERIMENT=1
services:
  - docker
install:
  - curl -L https://raw.githubusercontent.com/experimental-platform/build-scripts/master/go-build.sh | bash
script:
  - curl -L https://raw.githubusercontent.com/experimental-platform/build-scripts/master/buildimg.sh | bash
